/* 
FUENTES
TÍTULO PRINCIPAL
font-family: 'Crimson Pro', serif;

GENERAL PARA TITULOS SECCION Y TEXTOS NIVEL 1
font-family: 'Poppins', sans-serif;

GENERAL PARA TEXTOS NIVEL 2
font-family: 'Sora', sans-serif; 

GENERAL PATA TITULOS NIVEL 2
font-family: 'Outfit', sans-serif;

font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
*/

/* COLORES
BLANCO (Pearl)| Background principal #FCFCF7 (rgba(252, 252, 247, 1))
BLANCO2 (BoneWhite)| Background secundario #f9f6ee (rgba(249,246,238,1))
ROJO | Principal EstudioREC #E20034
NEGRO | Principal Fuentes #222223
NEGRO AZULADO | Background segundario #25282A
GRIS MEDIANO | Background alternativo #7c7a7a
GRIS CLARO | Background alternativo #bfbebe;

Elegir cuál funciona mejor
AZUL OSCURO (Serenity) | Background Quienes Somos #395CAD

VERDE OSCURO (Pine) | Background Quienes somos #286140 (alternativa)
AZUL OSCURO (Prussian Blue) Background Quienes somos #003153(alternativa

PORTFOLIO
NARANJA (Selective Yelloy) | Cintillo portfolio #FFB100
VERDE (Caribean Current) | Cintillo portfolio #006C67
ROJO | Principal EstudioREC #E20034
Evaluar a qué corresponde este color #f44c28
*/